
<app-navbar></app-navbar>

<div class="add-review-container">
    <h3>Leave a Review</h3>
    <form (ngSubmit)="submitReview()" #reviewForm="ngForm">
      <div class="form-group">
        <label for="stars">Rating:</label>
        <p-rating [(ngModel)]="review.stars" [cancel]="false" id="stars" name="stars"></p-rating>
        <p>Selected Rating: {{ review.stars }} stars</p>
      </div>
  
      <div class="form-group">
        <label for="content">Review:</label>
        <textarea
          id="content"
          class="form-control"
          [(ngModel)]="review.content"
          name="content"
          placeholder="Write your review here"
          rows="4"
          required
        ></textarea>
      </div>
  
      <button type="submit" class="btn btn-success" [disabled]="!reviewForm.form.valid">Submit Review</button>
    </form>
<br>
<br>

    <div class="alert alert-success" *ngIf="isAdded">
        Review Submitted
    </div>
<br>
    <div *ngIf="isAdded" >
        <button [routerLink]="['/']" > Back home </button>
    </div>

  </div>
  