/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeng/resources/themes/luna-green/theme.css";

html,body{
    background-color:beige;
}

.custom-category{
    background-color: #9ACD32;
    border-radius: 10px;
   
}

.custom-out-of-stock{
    background-color: tomato;
    border-radius: 10px;
}

.custom-in-stock{
    /* background-color: yellowgreen; */
    border-radius: 2px;
}

.custom-left-align{
    text-align: left;
}

.custom-center-button{
    align-items: center;
}

