
<app-navbar></app-navbar>
<div class=" custom-edit-profile"> 
<button class="edit-button" (click)="onEdit()" > Edit Profile</button>
</div>

<div class="container-fluid">
    <div class="row mb-4">
      <div class="col-md-12 custom-profile-photo">
        <i  class="pi pi-user " style="font-size: 2.5rem"></i>
      <div class=" custom-name">
        <h1> {{customer.name}} </h1>
      </div>
    </div>
    </div>

    <!-- <div class="row">
        <div class="col-md-12"><br></div>
    </div> -->

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="card mt-3 text-center">
                <br>
                <!-- <p><strong> {{ customer.user.username }} </strong></p> -->
          <!-- <p class="custom-contact"><strong>Contact  &nbsp;  &nbsp;:</strong> {{customer.contact}}</p> -->
          <p class="custom-username"><strong>Username &nbsp; :</strong> {{customer.user.username}} </p>
        </div>
      </div>
    </div>

    <div class="row">
        <div class="col-md-12"> <br> <br>  </div>
    </div>
  
    
    <div class="row mb-5">
        <div class="col-md-3"></div>
      <div class="col-md-3 text-center">
        <button class="btn btn-primary w-50 mb-2" [routerLink] = "['/customer/cart']">
            My Cart
        </button>
      </div>
      <div class="col-md-3 text-center ">
        <button class="btn custom-wishlist-button w-50 mb-2" [routerLink] = "['/customer/wishlist']">
            <i class="pi pi-heart"> </i>
            My Wishlist</button>
      </div>
      </div>
      <div class="row mb-5">
        <div class="col-md-3"></div>
      <div class="col-md-3 text-center">
        <button class="btn btn-success w-50 mb-2" [routerLink]="['/customer/past-orders']" >
            My Orders</button>
      </div>
      <div class="col-md-3 text-center ">
        <button class="btn btn-secondary w-50 mb-2" [routerLink]="['/customer/my-reviews']" >
            My Reviews</button>
      </div>
    </div>
  
    
    <div class="row mb-4">
      <div class="col-md-12 text-center">
        <button class="btn btn-dark w-50" [routerLink]="['/customer/my-address']" >View My Address</button>
      </div>
    </div>
  </div>
  