.custom-button{
    padding: 3px 8px;
    border-radius: 5px;
}

img {
    width: 100%;
    max-width: 300px; /* Example size */
    height: auto;
  }
  
.custom-wishlist-button{
    color:white;
    border:none;
    background-color:#64CA8D;
    
   
}

.custom-cart-button{
    color: white;
    border:none;
    background-color: #3B71FE;
}