<app-navbar></app-navbar>

<div class="order-details-container">
    <div class="order-product-image">
      <img [src]="'/assets/product/'+opwi.imageList[0].imageName" alt="Product Image" />
    </div>
    <div class="order-product-info">
      <h3 class="text-capitalize">{{ opwi.orderProduct.product.title }}</h3>
      <p><strong>Amount Paid:</strong> ₹ {{ opwi.orderProduct.amountPayable }} </p>
      <p><strong>Order ID:</strong> {{ opwi.orderProduct.order.id }} </p>
      <p><strong>Order Fee:</strong> {{ opwi.orderProduct.order.orderFee }} </p>
      <p><strong>Order Discount:</strong>  {{ opwi.orderProduct.order.orderDiscount }} </p>
      <p><strong>Order Placed on :</strong> {{ opwi.orderProduct.order.orderPlacedTime | date }} </p>
      <p><strong>Status:</strong> {{ opwi.orderProduct.order.status }} </p>
      
    </div>
    <div class="order-buttons">
      <button class="btn btn-primary" (click)="reviewProduct(opwi.orderProduct.product.id)">Review</button>
      <button class="btn btn-secondary" (click)="exchangeProduct(opwi.orderProduct.id)">Exchange</button>
      <button class="btn btn-danger" (click)="returnProduct(opwi.orderProduct.id)">Return</button>
    </div>
  </div>
  



