<div class="container address-container">
  <h2 class="text-center">Addresses</h2>

  <div class="row mt-4">
    <div class="col-md-6">
 
      <h4>Primary Address</h4>
      <div class="card address-card mb-3">
        <div class="card-body">
          <h5 class="card-title">Home</h5>
          <p class="card-text">
            <span class="text-success">Street, Landmark</span><br>
            City, State
          </p>
          <p class="card-text">
            Pincode: <span class="text-muted">xxx xxx</span>
            <a href="#" class="edit-pencil">
              <i class="bi bi-pencil"></i>
            </a>
          </p>
          <span class="badge bg-secondary">SELECTED</span>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <!-- Address Form -->
      <h4>Add/Edit Address</h4>
      <div class="card address-card">
        <div class="card-body">
          <h5 class="card-title">Home</h5>
          <form (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label for="street" class="form-label">Enter Street:</label>
              <input type="text" class="form-control" id="street" placeholder="xxx xxx" [(ngModel)]="address.street" name="street">
            </div>
            <div class="mb-3">
              <label for="landmark" class="form-label">Enter Landmark:</label>
              <input type="text" class="form-control" id="landmark" placeholder="xxx xxx" [(ngModel)]="address.landmark" name="landmark">
            </div>
            <div class="mb-3">
              <label for="city" class="form-label">Enter City:</label>
              <input type="text" class="form-control" id="city" placeholder="xxx xxx" [(ngModel)]="address.city" name="city">
            </div>
            <div class="mb-3">
              <label for="state" class="form-label">Enter State:</label>
              <input type="text" class="form-control" id="state" placeholder="xxx xxx" [(ngModel)]="address.state" name="state">
            </div>
            <div class="mb-3">
              <label for="pincode" class="form-label">Enter Pincode:</label>
              <input type="text" class="form-control" id="pincode" placeholder="xxx xxx" [(ngModel)]="address.pincode" name="pincode">
            </div>
            <button type="submit" class="btn btn-dark">Add Address</button>
          </form>
        </div>
      </div>
    </div>
    